.search__switcher {
 width: 560px;
}
.search__switcher_element {
    width: 40%;
}

.search__switcher_element.right {
  left:67%;
  width: 31%;
  /* right: 0; */
  /* left: auto; */
}

.search__switcher_element.middle {
  left:30%;
  width: 37%;
}


.search__switcher_text {
margin-left: auto;
margin-right: auto;
justify-content: space-around;
padding-left: 20px;
gap: 60px;
}

.search__switcher_text > :nth-child(2) {
margin-left: 25px;
}


.search_albums {
padding-left: 290px;
padding-right: 290px;
}

.search_albums.hidden {
display: none;
}

.search_albums__grid {
gap: 165px;
}

.search_albums__album_image img{
border-radius: 36px;
}

.search_albums__grid_info {
    padding-top: 20px;
}

.search__switcher_element {
width: 29%;
}

.search_authors.hidden {
    display: none;
}



.search_authors__grid_info p:last-child{
color: white;
font-size: 32px;
-webkit-text-stroke: 0;
}

#search_tracks__list {
height: 570px;
}

.search_tracks.hidden {
display: none;
}

@media (max-width: 1720px){
    .search_albums {padding-left: 0; padding-right: 0;}
}

@media (max-width: 769px){
    .search__switcher {
        zoom: 0.9;
        -moz-transform: scale(0.9)
    }
}

@media (max-width: 709px){
    .search__switcher {
        zoom: 0.8;
        -moz-transform: scale(0.8)
    }
}

/* @media (max-width: 630px){
    .search__switcher {
        zoom: 0.8;
        
    }
} */

.search__content--mobile {
    position: fixed;
    top: 120px;
    left: 20px;
    zoom: 0.7;
display: flex;
flex-direction: column;
opacity: 1;
transition: .3s;
font-family: var(--base-shrift);
}

.search__content--mobile h1{
align-self: center;
color: white;
padding-bottom: 40px;
}

.search__content--mobile.hidden {
opacity: 0;
}

.search__list--mobile {
   margin-top: -35px;
   overflow-x: hidden;
}

.search__list_item--mobile {
font-size: 18px;
}

.search__list_item_left--mobile {
    justify-content: left;
gap: 10px;
}


.search_albums--mobile {
    margin-top: -90px;
    padding-top: 0;
    overflow: hidden;
transform: scale(0.8);
overflow: hidden;
overflow-y: scroll;
height: 1500px;
padding-bottom: 800px;
}

.search_albums--mobile::-webkit-scrollbar {
  display: none;
}
.search_authors--mobile::-webkit-scrollbar {
  display: none;
}



.search_authors--mobile {
    margin-top: -90px;
    padding-top: 0;
    overflow: hidden;
transform: scale(0.8);
overflow: hidden;
overflow-y: scroll;
height: 1500px;
padding-bottom: 800px;
}

.search_albums__grid--mobile{
    gap: 20px;
}

.search_authors__grid--mobile{
    gap: 20px;
}

.search_authors__grid_info--mobile p {
font-size: 20px !important;
 }